@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Roboto:wght@100;300;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    font-size:62.5%
}

header{
    padding: 60px;
    display: flex;
    justify-content: center;
}

header img{
        width: 800px
    }

.botonera{
    padding: 0
}

.botonera .bk-yellow{
    padding:30px;
    border-top:10px solid #000;
    border-bottom:10px solid #000; 
}

/* nav a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}

nav li{
    list-style: none;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:2rem;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 15px 0;
    margin: 0 0 30px;
} */



#placeholder{
    height:700px;
    display:flex;
    justify-content: center;
    align-items: center;
}

#destacada img{
    width:100%;
    position:relative;
    margin-bottom:100px
}

#que-es img{
    width:160px;
    display:flex; 
    margin:auto
}

h1{
    position:absolute;
    font-size:3.5rem;
    top:100%;
    left:40%;
    background-color: rgba(255,255,255,0.3);
    display:flex;
    justify-content: center;
    align-items: center;
    width:fit-content;
    padding: 20px 40px;
    margin:auto;
    transform:translateY(-53vh);
    color:#000
}

h2{
    margin: 10px auto;
    text-align: center;
    font-size:6rem;
    font-family: 'Caveat Brush', cursive;
}



p{
    max-width: 740px;
    margin:auto;
    font-weight:300;
    font-size:2.2rem;
    line-height:1.5
}

.boton{
    text-transform:uppercase;
    border: 1px solid #000;
    width: max-content;
    padding: 6px 20px;
    text-align: center;
    border-radius: 35px;
    font-size:1.7rem;
    font-weight: 400;
    margin:30px auto;
    display: flex;
    background-color: transparent;
}

.btn-dark{
    text-transform:uppercase;
    width: max-content;
    padding: 6px 20px;
    text-align: center;
    border-radius: 35px;
    font-size:1.7rem;
    font-weight: 400;
    margin:30px auto;
    display: flex;
    background-color: #000;

}

.form-control{
    height:40px;
    width: max-content;
    padding: 6px 20px;
    text-align: center;
    border-radius: 5px;
    font-size:1.7rem;
    font-weight: 400;
    margin:30px auto;
    display: flex;
    border: 1px solid #ccc;

}


.boton:hover{
    background-color: #000;
    color:#fff
}

a{
    text-decoration: none;
    color: #000
}

.bk-gris{
    background-color: rgb(242, 242, 239);
    padding: 40px 0;
    margin-top: 80px;
}

.bk-black{
    background-color: #000;
    color: #fff;
    padding: 100px 0 30px;
}

.bk-yellow{
    background-color:rgb(255, 221, 1);
    padding: 40px 0 60px;

}

/* estilos grilla de recetas */

.grilla{
    display:flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding:40px 40px 0;
}

.grilla figure{
    width:30%;
    margin-bottom: 30px;
}

.grilla figure img{
    display: block;
    margin:auto;
    width:100%
}

.grilla figure figcaption{
    font-size:2rem;
    text-align:center;
    margin-top: 15px;
}

/* estilos grilla BS archivo de recetas*/

#grid-archivo{
    padding-left:40px;
    padding-right:40px
}

.row{
    row-gap:30px
}

.card{
    border:none;
    border-radius: unset;
}

.card-body figcaption{
    font-size:2rem;
    text-align:center;
    margin-top: 15px;
}


/* estilos suscripcion */

form#subscribe{
    display: flex;
    justify-content: center;
}

#subscribe label{
    font-size: 18px;
    text-transform: uppercase;
    margin-right:10px
}

#subscribe input#nombre{
    margin-right:40px
}

#subscribe input{
    border:none;
    height:30px;
    width:220px
}

#subscribe input[type=submit]{
    background-color: #000;
    width:fit-content;
    font-size: 1.8rem;
    text-transform: uppercase;
    color:#fff;
    padding: 6px 20px;
    border-radius:30px;
    margin-left:30px
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 15px;
}

footer #redes{
    margin-bottom:15px
}

footer svg{
    height: 25px;
    width: 25px;
    fill:#fff;

}




/* estilos archivo de recetas*/

form#buscador{
    display: flex;
    justify-content: center;
    margin:50px auto

}

#buscador label{
    font-size: 18px;
    text-transform: uppercase;
    margin-right:10px
}

#buscador input#nombre{
    margin-right:40px
}

#buscador input{
    border:none;
    height:30px;
    width:220px
}


input#busqueda{
    border: 1px solid gray
}

#buscador input[type=submit]{
    background-color: #000;
    width:fit-content;
    font-size: 14px;
    text-transform: uppercase;
    color:#fff;
    padding: 3px 12px;
    border-radius:30px;
    margin-left:30px
}


/* estilos receta*/

.receta{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto auto;
    grid-column-gap:20px;
    grid-row-gap:60px;
    margin-bottom:60px;
    grid-template-areas: 
    "head head head head head"
    ". ingredientes pasos pasos ."
    "ver ver ver ver ver"; 
}

.head-receta{
    grid-area: head;
}

.head-receta img{
    width:100%;
    height:auto;
    margin-top:20px
}

.ingredientes{
    grid-area:ingredientes
}

.pasos {
    grid-area: pasos;
}

.ver-mas{
    grid-area:ver
}


.pasos h4, .ingredientes h4{
    text-transform:uppercase;
    font-weight:400;
    font-size:22px;
    margin-bottom:20px; 
}


.receta ul, ol{
    font-weight:300;
    font-size:20px;
    padding:0 0 0 15px;
    line-height:1.3
}



/* estilos bio*/

#bio{
    display: grid;
    grid-template-columns: 2fr auto;
    grid-column-gap:50px;
    max-width:1000px;
    margin:0 auto 100px;
    margin:30px auto 100px
}

#bio img{
    width:300px;
    height:300px;
    border-radius: 50%;
}



/* estilos consultorio*/

form#consulta{
    display:flex;
    gap:50px;
    margin:70px auto 100px;
    max-width:1000px;
    
}

#mis-datos, #mensaje{
    display: flex;
    flex-direction:column
}

#mis datos{
    width:500px
}

#mensaje{
    width:700px
}

#consulta input{
    border: 1px solid #ccc;
    margin-top:20px
}

#consulta label{
    font-size: 18px;
    text-transform: uppercase;
    margin-right:10px
}

#message{
    border: 1px solid #ccc;
    width:700px;
    height:350px
}

#mensaje input[type=submit]{
    background-color: #000;
    width:fit-content;
    font-size: 1.8rem;
    text-transform: uppercase;
    color:#fff;
    padding: 6px 20px;
    border-radius:30px;
    margin-left:86%
}



/* estilos responseive */



@media (width < 480px){

    /* index */
   
    .botonera img{
        width:250px
    }

    .botonera .bk-yellow{
        padding:10px;
        margin-top:0
    }
    
    .d-flex{
        flex-direction:column;
        margin:auto
    }

    .botonera .btn-dark{
        margin-top:15px
    }

    .form-control{
        margin-bottom:0
    }

    #destacada img{
        margin-bottom:0
    }

    #destacada h1{
        position:relative;
        opacity:1;
        top:unset;
        left:unset;
        height: auto;
        margin-top:15px;
        font-size:2rem;
        margin-bottom:60px
    }

    #que-es img {
        width:80px
    }

   h2{
        font-size:4.5rem;
        line-height:1;
        max-width:80%;
        margin-bottom:15px
    }

    #que-es p{
        max-width:90%;
        font-size:1.8rem;
        text-align:center
    }

    .grilla{
        padding:0
    }

    .grilla figure {
    width:100%
    }

    form#subscribe{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .campo-1, .campo-2{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    #subscribe label, #subscribe input#nombre {
        margin:10px 0;
    }

    #subscribe input[type=submit]{
        margin:20px 0;
    }

    .bk-yellow{
        padding-bottom:20px; 
        margin-top:80px
    }

    header.bk-yellow{
        margin-top:0
    }

    .bk-black{
        padding:50px 0 20px
    }

    .bk-black img{
        width:60%
    }

    /* archivo */

    form#buscador{
        flex-direction:column;
        align-items: center;
    }

    #buscar-receta{
        display: flex;
        flex-direction: column;
    }

    #buscador label{
        text-align:center;
        margin:0 auto 15px
    }

    #buscador input[type=submit]{
        margin: 15px auto
    }


    /* consultorio */

    form#consulta{
        flex-direction: column;
        gap:0
    }
    
    #consulta label {
        text-align: center;
        margin:auto
    }

    #consulta input{
        height:40px;
        width:90%;
        margin:15px auto
    }

    #mensaje {
        width:90%;
        margin:15px auto
    }

    #message{
        width:100%
    }

    #mensaje input[type=submit]{
        margin:auto
    }

    /* receta */

    .receta{
        display: block;
        width:90%;
        margin:auto
    }

    .pasos h4, .ingredientes h4{
        margin-top:40px
    }


    /* sobre mi */
    
    #bio{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:90%;
        margin: auto;
    }

    #bio img{
        width:150px;
        height:150px;
        margin-bottom:20px
    }

    #bio p{
        font-size:1.8rem;
        text-align:center
    }


}